</head>

<body>
  <!-- drop your code here -->
  <nav class="navbar navbar-expand-lg nav-main navbar-dark bg-dark ps-2 pe-2">
    <div class="container-fluid">
      <a class="navbar-brand  me-5" href="/">
        <img src="/image/logo_light.png" height="80px" alt="event-logo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link nav-button" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link nav-button" href="/events">EVENTS</a>
          </li>
          <li class="nav-item ms-5 ">
            <a class="nav-link nav-button" href="/gallery">GALLERY</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link nav-button" href="/workshop">WORKSHOPS</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link nav-button" href="/sponsors">SPONSORS</a>
          </li>
           

        </ul>

        <form class="d-flex">
          <a href="/login" target="_blank" class="ps-4 pe-4 pt-2 pb-2 login_btn " type="button">
            <span class="inline-icon  material-symbols-outlined mb-1 me-2">login</span>
            Login</a>
          <a href="/registration" target="_blank" class="ps-4 pe-4 pt-2 pb-2 ms-3 reg_btn" type="button">
            <span class="inline-icon material-symbols-outlined mb-1 me-2">
              badge
            </span>
            Register</a>

        </form>
        
      </div>
    </div>
    <style>
      .nav-main {
        background-color: #1b263b !important;
      }
    </style>
  </nav>