<!-- header -->
<%- include ('../partials/header.ejs') %>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>

        <div class="button-container w-100">
            <ul class="nav nav-pills mb-3 w-100 d-flex flex-wrap justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item   me-2" role="presentation">
                    <button class="nav-link event-button" id="pills-pre_events-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-pre_events" type="button" role="tab" aria-controls="pills-pre_events"
                        aria-selected="true">
                        Pre-events
                    </button>
                </li>
                <li class="nav-item  me-2" role="presentation">
                    <button class="nav-link active event-button" id="pills-rhetorica-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-rhetorica" type="button" role="tab" aria-controls="pills-rhetorica"
                        aria-selected="false">
                        Rhetorica
                    </button>
                </li>
                <li class="nav-item  me-2" role="presentation">
                    <button class="nav-link event-button" id="pills-scientific-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-scientific" type="button" role="tab" aria-controls="pills-scientific"
                        aria-selected="false">
                        Scientific Events
                    </button>
                </li>

                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link event-button" id="pills-analytical-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-analytical" type="button" role="tab" aria-controls="pills-analytical"
                        aria-selected="false">
                        Magna Carta
                    </button>
                </li>
            </ul>
        </div>
        <div class="tab-content w-100 tab-flex" id="pills-tabContent">
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                <strong>Important!</strong> You can only register for a maximum of three events
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <!-- ************************ pre-events ********************************* -->


            <div class="tab-pane fade" id="pills-pre_events" role="tabpanel" aria-labelledby="pills-pre_events-tab">

                <div class="event-card d-flex flex-wrap justify-content-around align-items-center w-100 mb-50">
                    <div class="event-img  me-50">
                        <img src="/image/event_img/lymphocytes.jpeg" alt="" srcset="">
                    </div>
                    <div class="event-content">
                        <div class="event-title mb-5">
                            <h1>Meme Competition</h1>
                        </div>
                        <div class="event-text">
                            <p class="text-justify">The upcoming fest Spirit'23 is hosting a science-themed meme making
                                competition which is open to all. Participants need not worry about any registration fee
                                as it is free! This pre-event is sure to be a quirky way to get the fest started. All
                                you need to do is come up with something creative and witty. So, come and join us in
                                this fun and entertaining competition!</p>
                        </div>
                        <div class="card-btn-container d-flex flex-wrap mt-5">
                            <!-- <button type="button" class="btn event-rule-btn me-5 px-5 py-2"> Rules </button> -->
                            <a href="https://unstop.com/events/meme-makers-meme-making-competition-spirit23-indian-institute-of-technology-iit-bhu-varanasi-610952"
                                type="button" class="btn event-reg-btn px-5 py-2"> Register for the event </a>

                        </div>
                    </div>
                </div>


            </div>

            <!-- ********************************** Rhetorica *********************************** -->



            <div class="tab-pane fade show active" id="pills-rhetorica" role="tabpanel"
                aria-labelledby="pills-rhetorica-tab">
                <div class="event-card d-flex flex-wrap justify-content-around align-items-center w-100 mb-50">
                    <div class="event-img me-50">
                        <img src="/image/event_img/rhetorica/vector.png" alt="" srcset="">
                    </div>
                    <div class="event-content">
                        <div class="event-title mb-5">
                            <h1>Vector</h1>
                        </div>
                        <div class="event-text">
                            <p class="text-justify">Measure the magnitude of your knowledge in various directions
                                ranging from arts to sciences, geography to history, and current affairs to finance.
                                Unleash the quizzer within and put your culture IQ to test at our ultimate quiz
                                extravaganza!
                            </p>
                        </div>
                        <div class="card-btn-container d-flex flex-wrap mt-5">
                            <button type="button" class="btn event-rule-btn me-5 px-5 py-2" data-bs-toggle="modal"
                                data-bs-target="#rheoterica_event1" onclick="rulechangehandler('rheoterica_event1')">
                                Rules </button>

                            <a href="/events/register_event" type="button" class="btn event-reg-btn px-5 py-2"> Register
                                for the event </a>

                        </div>
                    </div>
                </div>

                <div class="event-card d-flex flex-wrap justify-content-around align-items-center w-100 mb-50">
                    <div class="event-img me-50">
                        <img src="/image/event_img/rhetorica/ignited minds.png" alt="" srcset="">
                    </div>
                    <div class="event-content">
                        <div class="event-title mb-5">
                            <h1>Ignited minds</h1>
                        </div>
                        <div class="event-text w-100">
                            <p class="text-justify">Do you enjoy engaging in spirited debate? Do you take delight in
                                defending your position to persuade someone? If so, Ignited Minds at Spirit'23 is just
                                the place for you. Demonstrate your debating prowess by using persuasive arguments and
                                winning over your opponents. The podium awaits. Bring your best argument!

                            </p>
                        </div>
                        <div class="card-btn-container d-flex flex-wrap mt-5">
                            <button type="button" class="btn event-rule-btn me-5 px-5 py-2" data-bs-toggle="modal"
                                data-bs-target="#rheoterica_event2" onclick="rulechangehandler('rheoterica_event2')">
                                Rules </button>
                            <a href="/events/register_event" type="button" class="btn event-reg-btn px-5 py-2"> Register
                                for the event </a>

                        </div>
                    </div>
                </div>



                <div class="event-card d-flex flex-wrap justify-content-around align-items-center w-100 mb-50">
                    <div class="event-img  me-50">
                        <img src="/image/event_img/rhetorica/magna carta.png" alt="" srcset="">
                    </div>
                    <div class="event-content">
                        <div class="event-title mb-5">
                            <h1>Synetics</h1>
                        </div>
                        <div class="event-text">
                            <p class="text-justify">Are you captivated by problem-solving? Case study competitions give

                                you an extra edge to think differently on diverse aspects. Use your creative brain and
                                strategize to come up with solutions to the given problem statement in pharmacy,
                                healthcare & technology, life sciences, and biotechnology industries.</p>

                        </div>
                        <div class="card-btn-container d-flex flex-wrap mt-5">
                            <button type="button" class="btn event-rule-btn me-5 px-5 py-2" data-bs-toggle="modal"
                                data-bs-target="#rheoterica_event3" onclick="rulechangehandler('rheoterica_event3')">
                                Rules </button>
                            <a href="/events/register_event" type="button" class="btn event-reg-btn px-5 py-2"> Register
                                for the event </a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- *************************************** scientific *********************************** -->
            <div class="tab-pane fade" id="pills-scientific" role="tabpanel" aria-labelledby="pills-scientific-tab">
                <div class="event-card d-flex flex-wrap justify-content-around align-items-center w-100 mb-50">
                    <div class="event-img  me-50">
                        <img src="/image/event_img/scientific events/Polaris.png" alt="" srcset="">
                    </div>
                    <div class="event-content">
                        <div class="event-title mb-5">
                            <h1>Polaris</h1>
                        </div>
                        <div class="event-text">

                            <p class="text-justify">Looking for a platform to showcase your creativity? Join the poster
                                presentation competition, and bring your research and innovation to the world. Compete
                                with peers and win amazing prizes.
                                Don't wait - register now and come show why you are the best in life sciences!
                            </p>

                        </div>
                        <div class="card-btn-container d-flex flex-wrap mt-5">
                            <button type="button" class="btn event-rule-btn me-5 px-5 py-2" data-bs-toggle="modal"
                                data-bs-target="#scientific_event1" onclick="rulechangehandler('scientific_event1')">
                                Rules </button>
                            <a href="/events/register_event" type="button" class="btn event-reg-btn px-5 py-2"> Register
                                for the event </a>

                        </div>
                    </div>
                </div>

                <div class="event-card d-flex flex-wrap justify-content-around align-items-center w-100 mb-50">
                    <div class="event-img  me-50">
                        <img src="/image/event_img/scientific events/fabrica.png" alt="" srcset="">
                    </div>
                    <div class="event-content">
                        <div class="event-title mb-5">
                            <h1>Fabrica</h1>
                        </div>
                        <div class="event-text">
                            <p class="text-justify">Are you interested in using your knowledge to create something
                                unique and special? If so, then the Model Making competition is the perfect place for
                                you! With an array of life sciences-related projects to choose from, you'll be able to
                                challenge yourself while discovering the many wonders of life sciences on a whole new
                                level. Show off your skills and creativity by participating in this unique competition!
                            </p>
                        </div>
                        <div class="card-btn-container d-flex flex-wrap mt-5">
                            <button type="button" class="btn event-rule-btn me-5 px-5 py-2" data-bs-toggle="modal"
                                data-bs-target="#scientific_event2" onclick="rulechangehandler('scientific_event2')">
                                Rules </button>
                            <a href="/events/register_event" type="button" class="btn event-reg-btn px-5 py-2"> Register
                                for the event </a>

                        </div>
                    </div>
                </div>

                <div class="event-card d-flex flex-wrap justify-content-around align-items-center w-100 mb-50">
                    <div class="event-img  me-50">
                        <img src="/image/event_img/scientific events/agnitio.png" alt="" srcset="">
                    </div>
                    <div class="event-content">
                        <div class="event-title mb-5">
                            <h1>Agnitio</h1>
                        </div>
                        <div class="event-text">
                            <p class="text-justify">Do you want to showcase your research and innovation to the world?
                                Then join the poster presentation competition! Here you can demonstrate your creativity
                                and understanding of life sciences to the world. Compete with peers and win amazing
                                prizes. So, don't wait - register now and come show why you are the best in life
                                sciences!</p>
                        </div>
                        <div class="card-btn-container d-flex flex-wrap mt-5">
                            <button type="button" class="btn event-rule-btn me-5 px-5 py-2" data-bs-toggle="modal"
                                data-bs-target="#scientific_event3" onclick="rulechangehandler('scientific_event3')">
                                Rules </button>
                            <a href="/events/register_event" type="button" class="btn event-reg-btn px-5 py-2"> Register
                                for the event </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ********************************************** Analytical ************************************** -->
            <div class="tab-pane fade" id="pills-analytical" role="tabpanel" aria-labelledby="pills-analytical-tab">

                <div class="event-card d-flex flex-wrap justify-content-around align-items-center w-100 mb-50">
                    <div class="event-img me-50">
                        <img src="/image/event_img/magna carta/pharmathon.png" alt="" srcset="">
                    </div>
                    <div class="event-content">
                        <div class="event-title mb-5">
                            <h1>Pharmamarathon</h1>
                        </div>
                        <div class="event-text">
                            <p class="text-justify">Are you ready to get your business idea off the ground in the
                                pharmaceutical industry? Look no further than Pharmamarathon! From networking with
                                industry experts to learn about the latest trends in the industry, Pharmamarathon has
                                something for everyone. So join us today and get your business idea off the ground!</p>
                        </div>
                        <div class="card-btn-container d-flex flex-wrap mt-5">
                            <button type="button" class="btn event-rule-btn me-5 px-5 py-2" data-bs-toggle="modal"
                                data-bs-target="#analytical_event1" onclick="rulechangehandler('analytical_event1')">
                                Rules </button>
                            <a href="/events/register_event" type="button" class="btn event-reg-btn px-5 py-2"> Register
                                for the event </a>

                        </div>
                    </div>
                </div>

                <div class="event-card d-flex flex-wrap justify-content-around align-items-center w-100 mb-50">
                    <div class="event-img  me-50">
                        <img src="/image/event_img/magna carta/impulse.jpeg" alt="" srcset="">
                    </div>
                    <div class="event-content">
                        <div class="event-title mb-5">
                            <h1>Impulse</h1>
                        </div>
                        <div class="event-text">
                            <p class="text-justify">Are you passionate about life sciences? Are you eager to join a
                                dynamic group of like-minded peers to discuss current topics and trends in the field?
                                Look no further! Our upcoming group discussion event is the perfect opportunity to share
                                your thoughts and learn more about the exciting developments in life sciences.</p>
                        </div>
                        <div class="card-btn-container d-flex flex-wrap mt-5">
                            <button type="button" class="btn event-rule-btn me-5 px-5 py-2" data-bs-toggle="modal"
                                data-bs-target="#analytical_event2" onclick="rulechangehandler('analytical_event2')">
                                Rules </button>
                            <a href="/events/register_event" type="button" class="btn event-reg-btn px-5 py-2"> Register
                                for the event </a>

                        </div>
                    </div>
                </div>




            </div>
        </div>

        <!-- ************************** End of tab content ************************-->

        <!-- ****************************************** FAQ section ****************************************** -->

        <div class="faq w-100" id="faq">
            <div class="faq-head py-4 ">
                <h3>Frequently Asked Questions</h3>
            </div>
            <div class="faq-all w-100 py-5">


                <div class="accordion" id="accordionExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header " id="headingOne">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                When is Spirit 23' going to be held?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                Spirit'23 is scheduled from 1st April 2023 to 2nd April 2023 at IIT (BHU) Varanasi.

                                Registrations
                                are open, and you can enroll in various workshops and events.

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Is participation in events/workshops paid?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                A one-time registration fee of INR 1100 will permit you to participate in a maximum of 3
                                number of events.
                                Workshops and innovative talks are added benefits.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Can I register for multiple competitions?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Yes, you can register for a maximum of 3 number of events of your choice.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                How do I keep track of regular updates?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Follow us on our Instagram, Facebook, LinkedIn. Feel free to reach out to us via
                                email or a call.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                How can I attend the various Innovative talks?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Once you are with us in Kashi. You can attend any or all of the innnovative talks and
                                workshops.


                            </div>
                        </div>
                    </div>
                </div><!-- panel-group -->

            </div><!-- container -->
        </div>
        <!-- Modal -->
        <div class="modal event-modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title mx-auto" style="font-weight: 700;" id="exampleModalLabel">Rules</h3>
                        <button type="button" class="btn-close ms-0" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body event-modal-body">
                    </div>
                </div>
            </div>
        </div>


        <% var messages %>
            <% if(messages!='' ){%>

                <div class="alert alert-light alert-dismissible fade show" role="alert">
                    <h1><i class="fa-solid fa-user"></i></h1>
                    <p class="welcome_txt">Welcome to SPIRIT23!</p>
                    <p class="name_">
                        <%= messages %>
                    </p>
                    <h5 style="color: #009200; font-weight:600; text-transform:capitalize"> login successfully!</h5>
                    <p class="text">Make one time payment for enrollment of events.
                        <strong> Ignore if you already enrolled.</strong>
                    </p>
                    <strong class="text" style="color:brown">Make sure to provide same email during payment!</strong>
                    <a href="#" type="button" class="btn-close cancel_btn" data-bs-dismiss="alert" aria-label="Close">
                    </a>
                    <a href="/payments" class="btn btn-sm btn-primary pay-btn" target="_blank"
                        rel="noopener noreferrer">Pay</a>


                </div>
                <% } %>

                    <!-- footer -->



                    <%- include('../partials/footer.ejs') %>
                        <style>
                            .alert {
                                position: fixed;
                                top: 10%;
                                z-index: 10;
                                left: 35%;
                                width: 20rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                font-family: 'Open Sans', sans-serif;
                            }


                            .welcome_txt {
                                font-size: 20px;
                                font-weight: 600;
                                color: black;

                            }

                            .text {
                                text-align: center;
                                font-size: 13px;
                                color: black;
                            }

                            .name_ {
                                font-size: 25px;
                                font-weight: 600;
                                text-transform: capitalize;
                                color: #007ea7;

                            }

                            .pay-btn {
                                padding: 3px 25px;
                            }

                            @media (max-width: 770px) {
                                .alert {
                                    left: 25%;
                                }
                            }

                            @media (max-width: 589px) {
                                .alert {
                                    left: 20%;
                                }
                            }

                            @media (max-width: 475px) {
                                .alert {
                                    left: 18%;
                                }
                            }

                            @media (max-width: 421px) {
                                .alert {
                                    left: 10%;
                                }
                            }
                        </style>
                        <script src="/js/event.js"></script>