<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.css">
    <title>reset password</title>
</head>

<body>
    <nav>
        <a href="/" style="margin:5px 10px; text-decoration:none; color:#00b9ce;
        font-size:25px;"><i class="fa-solid fa-house"></i> Home</a>
    </nav>
    
    <div class="container">

        <% var messages %>
        <% if(messages!='undefined' ){%>
            <h1 style='color:#00b9ce;'>
                <%= messages %>
            </h1>
        <% } %>

        <h1 style="color:#00b4d8;">Reset password for <b style="color: brown;"><%=email %></b> </h1>

        <form action="" method="post">
            <div class="form_elm">
                <label for="password">New Password</label>
                <input type="pasword" name="password" id="password" required minlength="8">
            </div>
            <div class="form_elm">
                <label for="cpassword">Confirm Password</label>
                <input type="pasword" name="cpassword" id="cpassword" required minlength="8">
            </div>
            <div class="form_elm">
                <button type="submit" id="reset">Reset</button>
            </div>


        </form>
        <p class="text">Password should be atleast 8 characters long containing uppercase, lowercase latters, numbers and symbols</p>

    </div>
<style>
    body {
        background-color:#003459;
    }
    .container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    form{
        padding: 5px;
        background-color: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }
    .text{
        color:#00b4d8;
    }
    form .form_elm {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    form .form_elm input {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border:1px solid black;
    padding: 5px 2px;
    border-radius: 4px;
    }

    #reset{
        padding: 5px 2px;
            background-color: #007ea7;
            border: none;
            outline: none;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            border-radius: 5px;
            color: white;
            cursor: pointer;
    }
</style>
<script src="/js/all.js"></script>
<script>
    const pass_match = document.getElementById("password")
    , confirm_password = document.getElementById("cpassword");

function validatePassword() {
    if (pass_match.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
        confirm_password.setCustomValidity('');
    }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;

</script>
</body>

</html>