<!-- header -->
<%- include ('../partials/header.ejs') %>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>

        <!-- drop your code here 👇👇👇👇-->
        <!-- tab -->


        <!-- <div class="full-img" id="fullImgBox">
            <img alt="spirit" src="image/gallery/gallery_banner.png" id="fullImg">
            <span onclick="closeFullImg()">X</span>
        </div> -->

        <div class="image-container">
            <div class="image-layer">
                <!-- <div class="intro-text">spirit <span style="color:springgreen;">studio</span> </div>
                <p id="text-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam similique quae et
                    necessitatibus quidem, voluptatum nihil debitis nisi ducimus, ex esse harum. Quaerat, omnis
                    repudiandae.
                </p> -->
            </div>
        </div>

        <!--------------------- IMAGE BUTTON---------------->
        <div class="gallery-btn-container">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <div class="gallery-btn">
                    <a class=" active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">
                        <div class="gallery-btn-img" id="btn-img-1" role="presentation">

                        </div>
                        <p class="heading-img mt-3"> SPIRIT' <span>17</span> </p>
                        <!-- <p class="description_txt">This is the satrting of springs, go and take a deep dive int the
                            ocian af SPIRIT</p> -->
                    </a>
                </div>


                <div class="gallery-btn">
                    <a class="" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">
                        <div class="gallery-btn-img" id="btn-img-2" role="presentation">

                        </div>
                        <p class="heading-img mt-3"> SPIRIT' <span>18</span> </p>
                        <!-- <p class="description_txt">This is the satrting of springs, go and take a deep dive int the
                            ocian af SPIRIT</p> -->
                    </a>
                </div>

                <div class="gallery-btn">
                    <a class="" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <div class="gallery-btn-img" id="btn-img-3" role="presentation">

                        </div>
                        <p class="heading-img mt-3"> SPIRIT' <span>19</span> </p>
                        <!-- <p class="description_txt">This is the satrting of springs, go and take a deep dive int the
                            ocian af SPIRIT</p> -->
                    </a>
                </div>

            </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                <h2 class="heading-gallery mt-5"> SPIRIT' <span>17</span> </h2>
                <div class="image-main">
                    <div class="img-gallery">
                        <img src="image/gallery/sp;17/sp'17__1.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp;17/sp'17__2.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp;17/sp'17__3.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp;17/sp'17__4.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp;17/sp'17__5.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp;17/sp'17__6.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp;17/sp'17__7.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp;17/sp'17__8.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp;17/sp'17__9.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp;17/sp'17__10.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp;17/sp'17__11.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp;17/sp'17__12.jpg" onclick="openFullImg(this.src)">

                    </div>
                </div>
                <div class="full-img" id="fullImgBox">
                    <img alt="spirit" src="images/plant.jpg" id="fullImg">
                    <span onclick="closeFullImg()">X</span>
                </div>

            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <h2 class="heading-gallery mt-5"> SPIRIT' <span>18</span> </h2>
                <div class="image-main">
                    <div class="img-gallery">
                        <img src="image/gallery/sp'18/sp;18__1.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'18/sp;18__2.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'18/sp;18__3.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'18/sp;18__4.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'18/sp;18__5.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'18/sp;18__6.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'18/sp;18__7.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'18/sp;18__8.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'18/sp;18__9.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'18/sp;18__10.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'18/sp;18__11.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'18/sp;18__12.jpg" onclick="openFullImg(this.src)">
                    </div>
                </div>
                <div class="full-img" id="fullImgBox">
                    <img alt="spirit" src="images/plant.jpg" id="fullImg">
                    <span onclick="closeFullImg()">X</span>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <h2 class="heading-gallery mt-5"> SPIRIT' <span>19</span> </h2>
                <div class="image-main">
                    <div class="img-gallery">
                        <img src="image/gallery/sp'19/sp'19__1.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'19/sp'19__2.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'19/sp'19__3.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'19/sp'19__4.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'19/sp'19__5.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'19/sp'19__6.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'19/sp'19__7.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'19/sp'19__8.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'19/sp'19__9.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'19/sp'19__10.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'19/sp'19__11.jpg" onclick="openFullImg(this.src)">
                        <img src="image/gallery/sp'19/sp'19__12.jpg" onclick="openFullImg(this.src)">
                    </div>
                </div>
                <div class="full-img" id="fullImgBox">
                    <img alt="spirit" src="images/plant.jpg" id="fullImg">
                    <span onclick="closeFullImg()">X</span>
                </div>
            </div>
        </div>
        <!-- tab -->
        <!-- <div class="decsription">
        <h3 class="image-head">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, inventore.</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsum recusandae accusamus,
            officiis praesentium unde!</p>
    </div> -->
        <style>

        </style>


        <script>
            var fullImgBox = document.getElementById("fullImgBox");
            var fullImg = document.getElementById("fullImg");

            function openFullImg(pic) {
                fullImgBox.style.display = "flex";
                fullImg.src = pic;
            }

            function closeFullImg() {
                fullImgBox.style.display = "none";
            }
        </script>


        <!-- footer -->
        <%- include('../partials/footer.ejs') %>