<%- include ('../partials/header.ejs') %>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>

    <!-- drop your code here -->
    <div class="team">
        <h1 class="text-center text-light">Coming Soon</h1>
    </div>
    <style>
        .team{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>

    <!-- footer -->
    <%- include('../partials/footer.ejs') %>