<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Spirit'23 | Our Team</title>
    </head>

    <body>
        
        <div class="top-heading">
            <h1>SPIRIT '23 TEAM</h1>
        </div>

        <div class="convener" style="margin-bottom: 3rem;">
            <h2 style="text-transform: capitalize;">Convener</h2>
            <div class="card">
                <img src="./image/team_images/convenor/abhay.jpg" alt="Convener-img">
            </div>
            <div>
                <h4>Abhay Singh Chauhan</h4>
                
            </div>
        </div>
        <hr>

        <div class="co-convener" style="margin: 3rem 0;">
            <h2>Co-Conveners</h2>
            <div class="card">
                <div class="subCard">
                    <img src="./image/team_images/convenor/umang-co-cn.jpeg" alt="Co-Convener-img">
                    <h4>Umang Prajapati</h4>
                    
                </div>

                <div class="subCard">
                    <img src="./image/team_images/convenor/sukshamta.jpg" alt="Co-Convener-img">
                    <h4>Sukshamta Nagpal</h4>
                    
                </div>
            </div>
        </div>
        <hr>


        <!--all teams are starting from here-->

        <div class="container">
            <div class="events team" style="margin: 3rem 0;">
                <h2>Events Team</h2>
                <div class="card">
                    <div class="subCard">
                        <img src="./image/team_images/event/gokul-head.jpeg" alt="events-team-img">
                        <h4>Gokul Vamsi</h4>
                        
                    </div>
                    <div class="subCard">
                        <img src="./image/team_images/event/harsh-manager.jpg" alt="events-team-img">
                        <h4>Harsh Agrawal</h4>
                        
                    </div>
                </div>
    
                <div class="other-members">
                    <h3>Other Team Members: </h3>
                    <ul>
                        <li><h3>Arnie</h3></li>
                        <li><h3>Hinal</h3></li>
                        <li><h3>Siddharth</h3></li>
                        <li><h3>Shivangi</h3></li>
                        <li><h3>Motilal</h3></li>
                        <li><h3>Tisha</h3></li>
                        <li><h3>Sahil</h3></li>
                        <li><h3>Mukul</h3></li>
                        <li><h3>Sakshi</h3></li>
                        <li><h3>Shalu</h3></li>
                        <li><h3>Akshay</h3></li>
                    </ul>
                </div>
            </div>
            <hr>
    
            <div class="publicity team" style="margin: 3rem 0;">
                <h2>Publicity Team</h2>
                <div class="card">
                    <div class="subCard">
                        <img src="./image/team_images/publicity/harshal-head.jpg" alt="publicity-team-img">
                        <h4>Harshal Jain</h4>
                        <p>Head</p>
                    </div>
                    <div class="subCard">
                        <img src="./image/team_images/publicity/manager.jpg" alt="publicity-team-img">
                        <h4>Saurabh Kumbhar</h4>
                        <p>Manager</p>
                    </div>
                    <!-- <div class="subCard">
                        <img src="./image/team_images/abstract-user-flat-4.svg" alt="publicity-team-img">
                        <h4>Kavita Saini</h4>
                        <p>Manager</p>
                    </div> -->
                </div>
    
                <div class="other-members">
                    <h3>Other Team Members: </h3>
                    <ul>
                        <li><h3>Ganesh</h3></li>
                        <li><h3>Alekhya</h3></li>
                        <li><h3>Avinash</h3></li>
                        <li><h3>Rajesh</h3></li>
                        <li><h3>Vamshi</h3></li>
                        <li><h3>Harsh</h3></li>
                        <li><h3>Pravesh</h3></li>
                        <li><h3>Sumit</h3></li>
                    </ul>
                </div>
            </div>
            <hr>
    
            <div class="pr team" style="margin: 3rem 0;">
                <h2>Public Relations Team</h2>
                <div class="card">
                    <div class="subCard">
                        <img src="./image/team_images/pr/vineesha-head.jpeg" alt="pr-team-img">
                        <h4>Vineesha</h4>
                        <p>Head</p>
                    </div>
                    <div class="subCard">
                        <img src="./image/team_images/pr/Anjali-manager.jpg" alt="pr-team-img">
                        <h4>Anjali Kalyan</h4>
                        <p>Manager</p>
                    </div>
                </div>
    
                <div class="other-members">
                    <h3>Other Team Members: </h3>
                    <ul>
                        <li><h3>Alkshyendra</h3></li>
                        <li><h3>Pankaj</h3></li>
                        <li><h3>Shalu</h3></li>
                        <li><h3>Rajeev</h3></li>
                        <li><h3>Sachin</h3></li>
                    </ul>
                </div>
            </div>
            <hr>
    
            <div class="marketing team" style="margin: 3rem 0;">
                <h2>Marketing Team</h2>
                <div class="card">
                    <div class="subCard">
                        <img src="./image/team_images/abstract-user-flat-4.svg" alt="marketing-team-img">
                        <h4>Ayush Kandoi</h4>
                        <p>Head</p>
                    </div>
                    <div class="subCard">
                        <img src="./image/team_images/marketing/sanskriti-manager.jpg" alt="marketing-team-img">
                        <h4>Sanskriti Garg</h4>
                        <p>Manager</p>
                    </div>
                </div>
    
                <div class="other-members">
                    <h3>Other Team Members: </h3>
                    <ul>
                        <li><h3>Piyush</h3></li>
                        <li><h3>Parth</h3></li>
                        <li><h3>Shivashish</h3></li>
                    </ul>
                </div>
            </div>
            <hr>
    
            <div class="content team" style="margin: 3rem 0;">
                <h2>Content Team</h2>
                <div class="card">
                    <div class="subCard">
                        <img src="./image/team_images/content/shruthi-head.jpeg" alt="content-team-img">
                        <h4>Sruthi Ragamai</h4>
                        <p>Head</p>
                    </div>
                    <div class="subCard">
                        <img src="./image/team_images/content/rishabh-manager.jpeg" alt="content-team-img">
                        <h4>Rishabh Hedaoo</h4>
                        <p>Manager</p>
                    </div>
                </div>
    
                <div class="other-members">
                    <h3>Other Team Members: </h3>
                    <ul>
                        <li><h3>Akshat</h3></li>
                        <li><h3>Anushka</h3></li>
                        <li><h3>Piyush</h3></li>
                        <li><h3>Alok</h3></li>
                    </ul>
                </div>
            </div>
            <hr>
    
            <div class="design team" style="margin: 3rem 0;">
                <h2>Design Team</h2>
                <div class="card">
                    <div class="subCard">
                        <img src="./image/team_images/abstract-user-flat-4.svg" alt="design-team-img">
                        <h4>Era Pal</h4>
                        <p>Head</p>
                    </div>
                    <div class="subCard">
                        <img src="./image/team_images/abstract-user-flat-4.svg" alt="design-team-img">
                        <h4>Goyir Koyu</h4>
                        <p>Manager</p>
                    </div>
                </div>
    
                <div class="other-members">
                    <h3>Other Team Members: </h3>
                    <ul>
                        <li><h3>Chiya</h3></li>
                        <li><h3>Anurag</h3></li>
                        <li><h3>Harsh</h3></li>
                        <li><h3>Alkshyendra</h3></li>
                        <li><h3>Nikhil</h3></li>
                        <li><h3>Ayush</h3></li>
                    </ul>
                </div>
            </div>
            <hr>
    
            <div class="operateNDlogic team" style="margin: 3rem 0;">
                <h2>Operations and Logistics Team</h2>
                <div class="card">
                    <div class="subCard">
                        <img src="./image/team_images/abstract-user-flat-4.svg" alt="onl-team-img">
                        <h4>Tejas Ranpise</h4>
                        <p>Head</p>
                    </div>
                    <div class="subCard">
                        <img src="./image/team_images/operation&logistics/pradeep-manager.jpg" alt="onl-team-img">
                        <h4>Pradeep Pilaniya</h4>
                        <p>Manager</p>
                    </div>
                </div>
    
                <div class="other-members">
                    <h3>Other Team Members: </h3>
                    <ul>
                        <li><h3>Aryan</h3></li>
                        <li><h3>Mukul</h3></li>
                        <li><h3>Vamshi</h3></li>
                        <li><h3>Vishal</h3></li>
                        <li><h3>Rajesh</h3></li>
                    </ul>
                </div>
            </div>
            <hr>
    
            <div class="branding team" style="margin: 3rem 0;">
                <h2>Branding Team</h2>
                <div class="card">
                    <div class="subCard">
                        <img src="./image/team_images/branding/preksha-head.jpeg" alt="branding-team-img">
                        <h4>Preksha Bhandari</h4>
                        <p>Head</p>
                    </div>
                    <div class="subCard">
                        <img src="./image/team_images/branding/ankit-manager.jpg" alt="branding-team-img">
                        <h4>Ankit Singh</h4>
                        <p>Manager</p>
                    </div>
                </div>
    
            </div>
            <hr>
    
            <div class="tech team" style="margin: 3rem 0;">
                <h2>Tech Team</h2>
                <div class="card">
                    <div class="subCard">
                        <img src="./image/team_images/tech/suraj-head.jpg" alt="tech-team-img">
                        <h4>Suraj Patel</h4>
                        <p>Head</p>
                        
                    </div>
                    <div class="subCard">
                        <img src="./image/team_images/tech/swetank-manager.jpg" alt="tech-team-img">
                        <h4>Swetank Srivastava</h4>
                        <P>Manager</P>
                    </div>
                    <div class="subCard">
                        <img src="./image/team_images/tech/Nishant-manager.jpg" alt="tech-team-img">
                        <h4>Nishant Gore</h4>
                        <p>Manager</p>
                    </div>
                </div>
    
                <div class="other-members">
                    <h3>Other Team Members: </h3>
                    <ul>
                        <li><h3>Saurabh</h3></li>
                        <li><h3>Harish</h3></li>
                        <li><h3>Harshit</h3></li>
                        <li><h3>Rudra</h3></li>
                        <li><h3>Rajeev</h3></li>
                    </ul>
                </div>
            </div>
        </div>


    </body>
    <style>
body{
    cursor: pointer;
    background: #003459;
    padding: 3.5%;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

h1{

    color: #2affa9;
}

h2{
    /* text-decoration: underline; */
    color: #00b4d8;
    margin-bottom: 50px;
    font-size: 2rem;
}

p{
    color: #adb5bd;
    margin-top: -14px;
    font-size: 0.8rem;
    font-style: italic;
}

h3{
    text-decoration: solid;
}
.other-members{

    margin-top: 36px;
}
.other-members > h3{
    color: #96e4d9;
    font-size: 1.4rem;
}
ul{
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    flex-wrap: wrap;

}

ul li{
    list-style-type: none;
    padding: 0.125rem 0.25rem;
    font-size: 0.9rem;
}

img{
    display: block;
    width: 180px;
    height: 180px;
    line-height: 100px;
    margin: auto;
    border-radius: 50%;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #e1c1cd;
    border: 2px solid #9cc3a1;
    transition: all .5s ease;
    object-fit: cover;
}

img:hover {
    opacity: 1;
    box-shadow: 0px 0px 7px 3px rgb(11 255 255);
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card .subCard{
    padding: 0 3.5%;
}

.container .team{
    margin-top: 2%;
    margin-bottom: 2%;
}

@media only screen and (max-width: 900px) {

    .co-convener .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container .team{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .container .card{
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container .card .subCard{
        padding: 0 2%;
    }

    .subCard{

        margin-top: 35px;
    }
    
}
    </style>
</html>