<!-- header -->
<%- include ('../partials/header.ejs') %>
<!-- navbar -->
    <%- include('../partials/navbar.ejs') %>

    <!-- drop your code here 👇👇👇👇-->
        

        <section id="sponsors">
          <h2 class="text-center pt-5 event-title"> PAST SPONSORS</h1>

            <div class="container py-5">
              <div class="row ">
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 31.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 40.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 7.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 8.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 5.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 32.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 15.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 28.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 29.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 13.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 21.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 22.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 14.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 10.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 9.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 19.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 20.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 34.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 23.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 24.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 25.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 26.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 27.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 30.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 1.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 2.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 3.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 6.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 11.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 12.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 17.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 18.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 33.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 34.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 35.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 36.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 37.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 38.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 39.png" alt="" srcset="" width="100%" height="100%"> </div>
                <div class="t col-lg-3 col-md-4 col-sm-6 col-12 text-white p-5"><img src="/image/sponsors/image 41.png" alt="" srcset="" width="100%" height="100%"> </div>
              
              
              
              </div>
    
              
            </div>
        </section>


<!-- footer -->
<%- include('../partials/footer.ejs') %>